.card {
  background-color: var(--lightaccent);
  float: right;
  display: inline-block;
  text-align: center;
  box-shadow: var(--shadow);
  margin: 1rem;
  margin-top: 0;
  padding: .2rem;
}

.card p {
  margin: 0;
}